<div class="container">
  <ul class="nav nav-tabs">
    <li routerLinkActive='active'>
      <a data-toggle="tab" routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a data-toggle="tab" routerLink="checkEligibility">Apply Loan</a>
    </li>

    <li routerLinkActive="active">
      <a data-toggle="tab" routerLink="confirm">History</a>
    </li>
    <!-- <li routerLinkActive="active">
      <a data-toggle="tab" routerLink="history">History</a>
    </li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active">
      <router-outlet></router-outlet>
    </div>
  </div>